[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	name = moosekaka
[user]
	email = sweel@uci.edu
[core]
	preloadindex = true
	fscache = true
	editor = C:/Notepad++/notepad++.exe
	#editor = nano
	excludesfile = C:/Users/sweel_rafelski/.gitignore_global
	autocrlf = true
[gc]
	auto = 256
[color]
	ui = auto
[push]
	default = simple
[gui]
[credential]
	helper = manager
[gui]
	fontdiff = -family Consolas -size 10 -weight normal -slant roman -underline 0 -overstrike 0
[merge]
	tool = p4merge
[mergetool "p4merge"]
	cmd = extMerge  "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
	trustExitCode = false
[diff]
	external = extDiff
