$if Bash
   # Show all instead of beeping first
  set bell-style visible
  set show-all-if-ambiguous on

  # Expand homedir name
  set expand-tilde off

  # Match all files
  set match-hidden-files on
  set completion-ignore-case on

  # 'Magic Space'
  # Insert a space character then performs
  # a history expansion in the line
  Space: magic-space
$endif

