[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	name = moosekaka
[user]
	email = sweel@uci.edu
[core]
	preloadindex = true
	fscache = true
	editor = C:/Notepad++/notepad++.exe
	excludesfile = C:/Users/sweel_rafelski/.gitignore_global
[gc]
	auto = 256
[color]
	ui = auto
[push]
	default = simple
[gui]
	recentrepo = C:/Users/sweel_rafelski/Documents/GitHub/sweepython
